/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"search"
		"hero"
		"planning"
		"hero-2"
		"new"
		"footer";
}

.header {
	grid-area: header;
}

.search {
	grid-area: search;

	form {
		display: grid;
		grid-template-columns: 85% auto;
		grid-gap: 20px;
	}
}

.hero {
	grid-area: hero;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}

	a {
		display: grid;
		grid-template-columns: 75% auto;
	}

	@include md {
		ul {
			grid-template-columns: repeat(12, 1fr);

			.truck {
				grid-column: span 5;
			}
			.location {
				grid-column: span 7;
			}
		}
	}
}

.planning {
	grid-area: planning;

	ul {
		display: grid;
	}

	.plan {
		display: grid;
		grid-template-columns: 70% auto;
	}

	@include md {
		.plan {
			grid-template-columns: 400px auto;
		}
		ul {
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 20px;
		}
	}
}

.hero-2 {
	grid-area: hero-2;

	ul {
		display: grid;
	}

	@include md {
		ul {
			grid-template-columns: 50% auto;
		}
	}
}

.new {
	grid-area: new;

	ul {
		display: grid;
	}

	@include md {
		ul {
			grid-template-columns: 350px 350px;
			grid-gap: 30px;
			justify-content: center;
		}
	}
}

.footer {
	grid-area: footer;

	.socials ul {
		display: flex;
	}

	.locations {
		section ul li {
			display: grid;
			grid-template-columns: 20px 200px;
		}
	}

	@include md {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-gap: 50px;

		.locations {
			grid-column: 2 / 5;
			grid-row: 1 / 4;
		}

		.newsletter {
			grid-column: 5 / 6;
			grid-row: 1 / 2;
		}

		.socials {
			grid-column: 5 / 6;
		}
	}
}
