/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"search"
		"hero"
		"planning"
		"hero-2"
		"new"
		"footer";

	@include md {
		grid-template-columns: repeat(12, 1fr);
	}
}

.header {
	grid-area: header;
}

.search {
	grid-area: search;
}

.hero {
	grid-area: hero;

	ul {
		display: grid;
	}

	a {
		display: grid;
		// grid-template-columns: 300px auto;
	}

	@include md {
		ul {
			grid-template-columns: repeat(12, 1fr);

			.truck {
				grid-column: span 5;
			}
			.location {
				grid-column: span 7;
			}
		}
	}
}

.planning {
	grid-area: planning;

	ul {
		display: grid;
	}

	.plan {
		display: grid;
		grid-template-columns: 400px auto;
	}
}

.hero-2 {
	grid-area: hero-2;
}

.new {
	grid-area: new;
}

.footer {
	grid-area: footer;

	.socials ul {
		display: flex;
	}

	.locations {
		section ul li {
			display: grid;
			grid-template-columns: 20px 200px;
		}
	}
}
