/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"search"
		"hero"
		"planning"
		"hero-2"
		"new"
		"footer";
}

.header {
	grid-area: header;
}

.search {
	grid-area: search;

	form {
		display: grid;
		grid-template-columns: 85% auto;
		grid-gap: 20px;
	}
}

.hero {
	grid-area: hero;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}

	a {
		display: grid;
		grid-template-columns: 90% auto;
		align-items: center;
	}

	@include md {
		ul {
			grid-template-columns: repeat(6, 1fr);

			.truck {
				grid-column: span 3;
			}
			.location {
				grid-column: span 3;
			}
		}
	}
}

.planning {
	grid-area: planning;

	ul {
		display: grid;
	}

	.plan {
		display: grid;
		grid-template-columns: 70% auto;
	}

	@include md {
		.plan {
			grid-template-columns: 70% auto;
		}
		ul {
			grid-template-columns: 50% auto;
			grid-gap: 20px;
		}
	}
}

.hero-2 {
	grid-area: hero-2;

	ul {
		display: grid;
	}

	@include md {
		ul {
			grid-template-columns: 60% auto;
			grid-template-rows: 300px 300px 300px 300px;

			.truck-1 {
				// grid-column: 1 / 2;
				grid-row: 1 / 4;
			}
			.truck-2 {
				// grid-column: 2 / 3;
				grid-row: 1 / 2;
			}
			.truck-3 {
				// grid-column: 2 / 3;
				grid-row: 2 / 3;
			}
		}
		// ul {
		// 	grid-template-columns: repeat(4, 1fr);
		// 	grid-template-rows: repeat(4, 1fr);
		// 	grid-template-areas:
		// 		"truck-1 truck-1 truck-2 truck-2"
		// 		"truck-1 truck-1 truck-2 truck-2"
		// 		"truck-1 truck-1 truck-2 truck-2"
		// 		"truck-1 truck-1 truck-2 truck-2";
		// }

		// .truck-1 {
		// 	grid-area: truck-1;
		// }
		// .truck-2 {
		// 	grid-area: truck-2;
		// }
		// .truck-3 {
		// 	grid-area: truck-3;
		// }
	}

	@include lg {
		ul {
			grid-template-areas:
				"truck-1 truck-1 truck-2 truck-2"
				"truck-1 truck-1 truck-2 truck-2"
				"truck-1 truck-1 truck-3 truck-3"
				"truck-1 truck-1 truck-3 truck-3";
		}
	}
}

.new {
	grid-area: new;

	ul {
		display: grid;
	}

	@include md {
		ul {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 30px;
			justify-content: center;
			grid-template-areas:
				"new-1 new-1 new-2 new-2"
				"new-3 new-3 new-4 new-4"
				". new-5 new-5 .";
		}

		#new-gallery-1 {
			grid-area: new-1;
		}
		#new-gallery-2 {
			grid-area: new-2;
		}
		#new-gallery-3 {
			grid-area: new-3;
		}
		#new-gallery-4 {
			grid-area: new-4;
		}
		#new-gallery-5 {
			grid-area: new-5;
		}
	}

	@include lg {
		ul {
			grid-template-columns: repeat(6, 1fr);
			grid-template-areas:
				"new-1 new-1 new-2 new-2 new-3 new-3"
				". new-4 new-4 new-5 new-5 .";
		}
	}
}

.footer {
	grid-area: footer;

	.socials ul {
		display: flex;
	}

	.locations {
		section ul li {
			display: grid;
			grid-template-columns: 20px 200px;
		}
	}

	@include md {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 50px;

		grid-template-areas:
			". locations . newsletter"
			". locations . socials";

		.locations {
			grid-area: locations;
		}

		.newsletter {
			grid-area: newsletter;
		}

		.socials {
			grid-area: socials;
		}
	}

	@include lg {
		grid-template-areas: ". locations . newsletter . socials";
	}
}
