.hero-2 {
	width: 100%;

	.image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.truck-1 {
		background-image: url("/deploy/img/hero-2/hero-2-1.jpg");
	}
	.truck-2 {
		background-image: url("/deploy/img/hero-2/hero-2-2.jpg");
	}

	.truck-3 {
		background-image: url("/deploy/img/hero-2/hero-2-3.jpg");
		display: none;
	}

	@include xl {
		.truck-3 {
			display: inline;
		}
	}
}
