.hero-img {
	background: url("../../../deploy/img/hero/hero.jpg");
	background-size: cover;
	background-position: center;
	height: 50vh;
	width: 100%;
}

.hero {
	ul {
		a {
			text-decoration: none;
		}
		.details h5 {
			display: none;
		}
		.details a {
			color: $aztec;
			padding: 20px;
			min-height: 110px;
		}
		.truck a {
			background: $corn;
			&:hover {
				background: darken($corn, 10%);
			}
		}
		.location a {
			background: $tangerine;

			.bold {
				font-weight: 600;
			}

			&:hover {
				background: darken($tangerine, 10%);
			}
		}

		// @include md {
		// 	.details h5 {
		// 		display: inline;
		// 		padding: 10px;
		// 	}
		// }
	}
}
