/* =============
    Footer
============= */

.footer {
	background: $aztec;
	padding: 50px 0;

	.content {
		margin: 15px;
	}

	.address {
		line-height: 1.5;
		border-bottom: 1px solid $seaFog;
		padding-bottom: 20px;
		a {
			font-size: rem-calc(12);
			text-decoration: none;
			color: $seaFog;
		}

		&:last-child {
			border: none;
		}
	}

	h1,
	h2 {
		color: $seaFog;
		font-weight: 400;
	}

	h1 {
		font-size: rem-calc(20);
	}

	h2 {
		font-size: rem-calc(16);
	}

	.icon {
		color: $tangerine;
	}

	address {
		color: $gunMetal;
		font-size: rem-calc(12);
	}

	.newsletter {
		form {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		form input {
			background: $casper;
			color: $blueCharcoal;
			margin-bottom: 15px;
			padding: 10px 20px;
			width: 88%;

			&::placeholder {
				color: $blueCharcoal;
			}
		}
		button {
			font-size: 14px;
			width: 75px;
			padding: 5px 10px;
			border: none;
			background: $tangerine;
		}
	}

	.social-icon a {
		font-size: 26px;
		color: white;
		padding: 0 5px 0 0;

		&:hover {
			color: $seaFog;
		}
	}
}
